<!DOCTYPE html>
<html>
<head>
    
    <title>Html forms</title>
    <style >
        body
        {
            background-color: lightblue;
        }
        label
        {
            color: darkred;
        }
    </style>
</head>
<body>
<h1>Register new Staff :-</h1>
<form>
    <table cellpadding="10px" cellspacing="2px">
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" name=""></td>

        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name=""></td>
        </tr>
        <tr>
            <td>
                <label>Full Name:</label></td>
               <td> <input type="text" name="">
            </td>

        </tr>
        <tr>
            <td>
                <label>Email:</label></td>
                <td><input type="text" name="">
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    Phone Number:
                </label>
            </td>
            <td><input type="text" name=""></td>
        </tr>
        <tr>
            <td>
                <label>Date</label>
            </td>
            <td>
                <input type="date"
                name=""></input>
            </td>
        </tr>
        <tr>
            <td><label>Address:</label></td>
            <td><input type="text" name=""></td>
        </tr>
        <tr>
            <td><label>Designation:</label></td>
            <td><select><option>General Manager</option><option>Assistant Manager</option></select><label>Other:</label><input type="text" name=""></td>
            

        </tr>
        <tr>
            <td><label>Department:</label></td>
            <td colspan="3"><select><option>Management</option><option>Superintendent Manager</option></select></td>
        </tr>
        <tr>
            <td><label>Hotel Branch:</label></td>
            <td><select><option>Bengaluru</option><option>Mysuru</option><option>Mandya</option></select></td>
        </tr>
        <tr ><td ><input type="submit" name="" style="color: darkred;"><input type="reset" name="" style="color: darkred;"></td></tr>
    </table>
    

</form>
</body>
</html>